.app {
  /* background-color: #252d4a; */

  min-width: 450px;
  min-height: 500px;
  border-radius: 15px;
  padding: 20px;
  margin: 6em 4em 5em 4em ;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

#alkonist{
  background-color: #0081a7ff;
  width: 100vw;

}

#alkonist-title-blurb {
  height: 80vw;
  background-color: #fdfcdcff;
}

#alkonist-main-blurb {
  height: 80vw;
  background-color: #f07167ff;
}

#caladrius{
  background-color: #eec4af;
  width: 100vw;
}
#caladrius-title-blurb {
  height: 80vw;
  background-color: #eddcd2;
}

#caladrius-main-blurb {
  height: 80vw;
  background-color: #e8d1c5;
}

#phoenix{
  background-color: #0f4c5c;
  width: 100vw;
}
#phoenix-title-blurb {
  height: 80vw;
  background-color: #9a031e;
}

#phoenix-main-blurb {
  height: 80vw;
  background-color: #e36414;
}

#sirin{
  background-color: #2c6e49;
  width: 100vw;
}
#sirin-title-blurb {
  height: 80vw;
  background-color: #ffc9e9;
}

#sirin-main-blurb {
  height: 80vw;
  background-color: #d68c45;
}

#rokh{
  background-color: #3c1642;
  width: 100vw;
}
#rokh-title-blurb {
  height: 80vw;
  background-color: #b2ff9e;
}

#rokh-main-blurb {
  height: 80vw;
  background-color: #1dd3b0;
}

body {
    background-color: #abc4ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
  }

.bg-navBar{
  /* background-color: #fff; */
  background: linear-gradient;
  opacity: 0.8;
}
/* .bg-navBar:hover{
  opacity: 1;
  transition: 0.3s ease-in-out;
} */






button {
  min-width: 180px;
  min-height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #d7e3fcff;
  outline: none;
  transition: 0.3s ease-in-out;
  margin: 15px
}
svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #b6ccfe;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: .3s ease-in-out;
}

button:hover {
  transition: .4s ease-in-out;
  background:  #d7e3fcff;
}

button:hover svg {
  stroke-dashoffset: -480;
}

/* button {
  transition: all .5s ease;
  color: #fff;
  border: 3px solid white;
  font-family:'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color : transparent;
  padding: 10px;
  outline: none;
  border-radius: 4px;
}
button:hover {
  color: #001F3F;
  background-color: #fff;
} */


